.btn-epics {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 260px;
    height: 50px;
    color: #FFF;
    background: #b99272;
    transform: translate3d(0px, 0%, 0px);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.03em;
    border: none;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition-delay: .6s;
    overflow: hidden;
  }
  
  .btn-epics:before {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #b99272;
  background: #FFF;
  border-radius: 50% 50% 0 0;
  transform: translateY(100%) scaleY(.5);
  transition: all .6s ease;
  }
  
  .btn-epics:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: translateY(0) scaleY(1);
    transition: all .6s ease;
 
  }
  
  .btn-epics div {
    position: relative;
    top: 16px;
    width: 100%;
    height: 26px;
    text-transform: uppercase;
    overflow: hidden;
    
  }
  
  .btn-epics span {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    text-align: center;
    transition: transform .5s ease;
  }
  
  .btn-epics span:first-child {
    color:  #b99272; /* Text color adjusted to match */
    transform: translateY(24px);
  }
  
  .btn-epics span:last-child {
    color: #b99272;
    transform: translateY(24px);
  }
  
  .btn-epics:hover {
    transition: background .2s linear;
    transition-delay: .6s;
  }
  
  .btn-epics:hover:after {
    border-radius: 0 0 50% 50%; 
    transform: translateY(-100%) scaleY(.5);
    transition-delay: 0;
  }
  
  .btn-epics:hover:before {
    border-radius: 0;
  transform: translateY(0) scaleY(1);
  transition-delay: 0;
  }
  
  .btn-epics:hover span:first-child {
    transform: translateY(0);
  }
  
  .btn-epics:hover span:last-child {
    transform: translateY(-24px);
  }