
.carousel-control-next:hover,
.carousel-control-prev:hover {
  filter: invert(100%);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: #b99272bd;
  opacity: 1;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

.carousel-control-next,
.carousel-control-prev {
  top: 50%;
  width: 5%;
  height: 100%;
  transform: translateY(-50%);
}
/* Slider.css */
.carousel-caption h3, 
.carousel-caption p {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
