
.carousel-control-next:hover,
.carousel-control-prev:hover {
  filter: invert(100%);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: #b99272bd;
  opacity: 1;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

.carousel-control-next,
.carousel-control-prev {
  top: 50%;
  width: 5%;
  height: 100%;
  transform: translateY(-50%);
}
/* Slider.css */
.carousel-caption h3, 
.carousel-caption p {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .carousel-caption h3 {
    font-size: 20px; 
  }
  .carousel-caption p {
    font-size: 14px;
    padding: 5px; 
  }
  .carousel-item img {
    height: 250px; 
  }
}
@media (max-width: 340px) {
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    padding: 10px;
    
  }

  .carousel-caption h3 {
    font-family: "Oswald", sans-serif;
    font-size: 18px !important; 
    color: #fff;
    font-weight: 500 !important;
    line-height: 1.2 !important;
  }

  .carousel-caption p {
    font-family: "Oswald", sans-serif;
    font-size: 12px !important; 
    color: #fff !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    margin: 0 !important; 
    padding: 0 !important; 
  }

  .carousel-item img {
    height: 200px !important;
  }
}

