.container {
  margin: 0 auto;
}

.home-bg {
  background: #121212;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
.btn-epic {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 260px;
  height: 50px;
  color: #fff;
  background: #b99272;
  transform: translate3d(0px, 0%, 0px);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.03em;
  border: none;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition-delay: 0.6s;
  overflow: hidden;
}

.btn-epic:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #b99272;
  background: #fff;
  border-radius: 50% 50% 0 0;
  transform: translateY(100%) scaleY(0.5);
  transition: all 0.6s ease;
}

.btn-epic:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  transform: translateY(0) scaleY(1);
  transition: all 0.6s ease;
}

.btn-epic div {
  position: relative;
  top: 16px;
  width: 100%;
  height: 26px;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-epic span {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  text-align: center;
  transition: transform 0.5s ease;
}

.btn-epic span:first-child {
  color: #b99272;
  transform: translateY(24px);
}

.btn-epic span:last-child {
  color: #fff;
  transform: translateY(0);
}

.btn-epic:hover {
  transition: background 0.2s linear;
  transition-delay: 0.6s;
}

.btn-epic:hover:after {
  border-radius: 0 0 50% 50%;
  transform: translateY(-100%) scaleY(0.5);
  transition-delay: 0;
}

.btn-epic:hover:before {
  border-radius: 0;
  transform: translateY(0) scaleY(1);
  transition-delay: 0;
}

.btn-epic:hover span:first-child {
  transform: translateY(0);
}

.btn-epic:hover span:last-child {
  transform: translateY(-24px);
}
Footer{
  margin: 0;
}
@media (max-width: 340px) {
.Bring-people{
  font-size: 12px;
}
.logo-heigh{
  height: 80px;
  width: auto;
}
.btn-epic {
  max-width: 100px;
  height: 40px; 
  font-size: 10px; 
}
.btn-epic div span {
  font-size: 8px;
}
}
