
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
.containers {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.forgot-password-form h2 {
    margin-bottom: 20px;
}

.forgot-password-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.forgot-password-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.forgot-password-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgot-password-form button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password-form button:hover {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
@media (max-width: 320px) {
    h2 {
      font-size: 1.25rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  
    button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
    
  }