.section-kf-menu {
  padding: 130px 0;
  position: relative;
  z-index: 2;
  background-color: #090c0f;
  margin-top: -6px;
}
.menu-bg {
  background: #121212;
}
.kf-menu-container {
  margin: 0 auto;
  max-width: 1170px;
}

.align-center {
  text-align: center !important;
}
.kf-filter {
  margin: -20px 0 50px 0;
  position: relative;
  z-index: 2;
  text-align: center;
}

.Take-Out {
  text-align: center;
  margin: 10px 0 70px 0;
  font-size: 42px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-weight: 400;
}
.gallery-heading {
  font-size: 42px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}
.kf-filter a.active {
  color: #fff;
  background: #b99272;
}

.kf-filter a {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px 30px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #9ea1a2;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-transform: uppercase;
  background: #090c0f;
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  cursor: pointer;
  outline: none;
}

.kf-menu-items {
  padding: 35px 45px;
  background-color: #090c0f;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 465px auto;
}

.kf-menu-items .row img {
  vertical-align: middle;
  /* border: 2px solid blueviolet; */
  width: 1056px;
  height: 2471px;
  margin-left: 145px;
}
.TableHead-color {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  color: white; /* Updated text color for the header */
}

.search-container {
  display: flex;
  justify-content: flex-end; /* Align the input field to the right */
  /* background: #bdbdbd; */
  margin-left: 10px;
}

.custom-search-input {
  width: 22%; /* Set width to 30% */
}
.custom-search-input .MuiOutlinedInput-root {
  background-color: #bdbdbd;
  color: black;
}

.custom-search-input .MuiOutlinedInput-input {
  color: black; /* Text color */
}

.custom-search-input .MuiInputLabel-root {
  color: black; /* Label text color */
}

.custom-search-input .MuiOutlinedInput-notchedOutline {
  border-color: black; /* Default border color */
}

.custom-search-input
  .MuiOutlinedInput-root:hover
  .MuiOutlinedInput-notchedOutline {
  border-color: black; /* Border color on hover */
}

.custom-search-input
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: black; /* Border color when focused */
}
.OurFoodItems {
  color: white;
  font-size: 40px;
  margin-left: 33px;
  margin-bottom: 50px;
  font-family: "Oswald", sans-serif;
}
@media only screen and (max-width: 320px) {
  .kf-menu-container {
    padding: 10px;
  }

  .kf-title {
    font-size: 20px; 
  }

  .kf-subtitle {
    font-size: 14px; 
  }

  .kf-filter a {
    font-size: 12px; 
    padding: 5px;
  }

  .kf-menu-items {
    padding: 10px; 
  }

  .TableHead-color {
    font-size: 12px; 
  }

  .TableRow td {
    font-size: 10px; 
    padding: 4px; 
  }

  .custom-search-input {
    font-size: 14px;
  }

  .search-container {
    margin: 10px 0;
  }

  .card {
    padding: 10px;
  }

  .kf-titles h4 {
    font-size: 16px;
  }
  .section-kf-menu {
    margin-top: -64px;
  }
  .MuiTablePagination-root span {
    font-size: 10px; 
  }

  .MuiTablePagination-input {
    font-size: 10px;

  }
  .kf-filter {
    margin: -3px 0 -20px 0px;
  }
  .section-kf-menu.kf-menu-tabs {
    font-size: 12px;
    padding-top: 0px;
  }

  
   h4.OurFoodItems{
    font-size: 16px;
    text-align: center;
   }
}
