
.table-cell {
  padding: 4px 8px; 
  font-size: 14px; 
}

.table-header {
  color: white;
  border-bottom: 1px gray; 
  padding: 4px 8px; 
}
/* Pagination container styling */
.pagination-container {
  padding: 8px;
}
.order_online{
  width:100%;
  padding: 15px;
  text-transform: capitalize;
  padding-bottom: 0px;
  color:#000;
  font-size: 28px;
  font-family: "sans-serif";
}
/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #121212;
}

.Dialog_Box {
  padding: 20px;
}

/* Responsive styles */

/* Tablet (601px to 960px) */
@media (max-width: 1024px) {
  .order_online {
    font-size: 16px;
    text-align: center;
  }

  .MuiTablePagination-root {
    flex-wrap: nowrap;
    font-size: 14px;
  }

  .Dialog_Box {
    padding: 15px;
  }

  .MuiButton-root {
    font-size: 14px;
    padding: 10px 16px;
  }
}

/* Desktop (above 960px) */
@media (min-width: 961px) {
  .order_online {
    font-size: 32px;
    text-align: left;
  }

  .MuiTablePagination-root {
    font-size: 16px;
  }

  .Dialog_Box {
    padding: 20px;
  }

  .MuiButton-root {
    font-size: 16px;
    padding: 12px 20px;
  }
}
@media (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
/* Mobile (up to 320px) */
@media (max-width: 320px) {
  .order_online {
    font-size: 1.5rem;
    text-align: center;
    margin-top: -73px;
  }

  .TextField-Search {
    width: 100%;
    margin: 5px 0;
  }

  .custom-select {
    width: 100%;
    margin: 5px 0;
  }

  .OrderItem {
    width: 100%;
    margin: 10px 0;
    font-size: 0.9rem;
  }

  table {
    font-size: 12px;
  }

  .pagination-container {
    flex-direction: column;
  }

  .Dialog_Box {
    padding: 10px;
  }
    .grand-total-text {
      text-align: left !important;
  }
  
 
}
