.content-grid {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as necessary */
    text-align: center; /* Center the text horizontally */
}
.catering-bg{
  background: #121212;
}
.content-grid .center {
    text-align: center;
}

.content-grid h6 {
    margin: 0 0 10px 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #b99272;
}

.content-grid h3 {
    margin: 0 0 70px 0;
    font-size: 42px;
    font-family: "Oswald";
    color: #fff;
    font-weight: 400;
}

.content-grid p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.75;
}
.custom-button {
    margin: 0 10px;
    color: #9ea1a2;
    width: 16%;
    height: 55px;
    border-radius: 2;
    font-weight: 600;
    font-size: 14px;
  }
  .custom-button.active {
    background-color: #b99272; /* Active background color */
    color: #fff; /* Active text color */
  }
  .image-grid{
    margin-top: 8%;
  }
  .image-style {
    width: 100%;
    height: auto;
    display: block;
  }
  @media only screen and (max-width: 340px) {
    .content-grid h3 {
      font-size: 16px !important;
    }
  
    .content-grid p {
      font-size: 12px !important;
    }
  
    .text {
      font-size: 0.8rem;
    }
  
    .custom-button {
      font-size: 0.8rem;
      padding: 6px 12px;
    }
  
    img {
      max-width: 100%;
    }
    .catering-bg{
      background: #121212 !important;
    padding-top: 0px;
    margin-top: -64px;
    }
  }