.Bg-Gallery {
    background: rgb(0, 0, 0); 
    padding-bottom: 60px; /* Add some padding to avoid overlapping with the fixed footer */
  
  }
  
  .gallery {
    margin: 20%;
    font-size: 60px;
    font-family: "Oswald", sans-serif;
    color: #fff;
    font-weight: 600;
    margin-left: 8%;
  }
  
  .OurPhoto-Gallery {
    text-align: center;
    color: #b99272;
  }
  
  .gallery-heading {
    font-size: 42px;
    font-family: "Oswald", sans-serif;
    color: #fff;
    font-weight: 400;
    text-align: center;
  }
  .custom-buttons {
    margin: 0 10px;
    color: white;
    width: 100px;
    height: 45px;
    border-radius: 2;
  }
  
  /* .custom-buttons:hover {
    background-color: #b99272;
    color: white;
  } */
  
  .custom-buttons.active {
    background-color: #b99272; /* Active background color */
    color: white; /* Active text color */
  }
  .image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-images {
  padding: 6px;
  text-align: center;
}

.grid-images img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.grid-images img:hover {
  transform: scale(1.05);
  opacity: 0.5; /* Corrected opacity value */
}


.grid-image {
  position: relative;
  overflow: hidden;
  width: 60%;
  height: 389px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
  transition: transform 0.3s ease; /* For smooth hover effect */
}

.grid-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers the container while maintaining aspect ratio */
  transition: transform 0.5s ease; /* Smooth zoom effect on hover */
}

.grid-image h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;

  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background for better text visibility */
  padding: 5px 10px;
}

.grid-image p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;

  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background for better text visibility */

}








  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  